#{extends 'main.html' /}
#{set title:'FLECT OSS Library - HyPDF-Excel' /}
#{if lang == "ja"}
	#{set 'description'}ExcelファイルをPDF化するアプリケーションです。#{/set}
#{/if}
#{else}
	#{set 'description'}LogAnalyzer is a sample application for converting Excel file to PDF.#{/set}
#{/else}
<div class="contentDetail">
	<h1 class="fontSize36">HyPDF-Excel</h1>
	<a class="detail" href="/index.html">&{"returnToIndex"}</a>
	#{linkToGithub project: project/}
	<hr>
	<h2 class="fontSize24">&{"overview"}</h2>
#{if lang == "ja"}
	<p>アップロードしたExcelファイルをPDFに変換するサンプルアプリケーションです。</p>
#{/if}
#{else}
	<p>A sample application for converting Excel file to PDF.</a>.</p>
#{/else}
	<hr>
	<h2 class="fontSize24">&{"install"}</h2>
	<pre>
    git clone git@github.com:shunjikonishi/hypdf.git
    heroku create
    git push heroku master
    heroku addons:add hypdf</pre>
	<hr>
	<h2 class="fontSize24">&{"sample"}</h2>
	<p class="p10"><a href="http://hypdf-excel.herokuapp.com/" target="_blank">http://hypdf-excel.herokuapp.com/</a></p>
	<hr>
	<h2 class="fontSize24">&{"license"}</h2>
	<p>MIT</p>
</div>
