#{extends 'main.html' /}
#{set title:'FLECT OSS Library' /}
<div class="contentDetail">
	<h1 class="fontSize36">papertrailTool</h1>
	<a class="detail" href="/index.html">&{"returnToIndex"}</a>
	<a class="github" href="https://github.com/shunjikonishi/${filename}"><img src="/public/images/GitHub-Mark-32px.png" alt="link to github"></a>
	<hr>
	<h2 class="fontSize24">&{"overview"}</h2>
#{if lang == "ja"}
	<p>papertrailToolは<a href="https://papertrailapp.com/" target="_blank">Papertrail</a>のログを扱うためのJavaライブラリです。</p>
	<h3 class="p20">機能</h3>
	<ul>
		<li>WebAPIによるログの取得と検索</li>
		<li>S3にアーカイブされたログの解析</li>
	</ul>
	<p class="p20"><a href="/apps/papertrail-log-analyze.html">LogAnalyzer</a>はこのライブラリを利用したログ解析のアプリケーションです。</p>
#{/if}
#{else}
	<p>papertrailTool is a Java library for <a href="https://papertrailapp.com/" target="_blank">Papertrail</a>.</p>
	<h3 class="p20">Features</h3>
	<ul>
		<li>Retrieving and searching logs by WebAPI.</li>
		<li>Analyzing logs archived in S3.</li>
	</ul>
	<p class="p20"><a href="/apps/papertrail-log-analyze.html">LogAnalyzer</a> is an application that used this library.</p>
#{/else}
	<hr>
	<h2 class="fontSize24">&{"license"}</h2>
	<p>MIT</p>
</div>
