#{extends 'main.html' /}
#{set title:'FLECT OSS Library - sendgrid4j' /}
#{if lang == "ja"}
	#{set 'description'}sendgrid4jはSendGrid Web APIのJavaラッパーです。#{/set}
#{/if}
#{else}
	#{set 'description'}sendgrid4j is a WebAPI wrapper for SendGrid.#{/set}
#{/else}
<div class="contentDetail">
	<h1 class="fontSize36">sendgrid4j</h1>
	<a class="detail" href="/index.html">&{"returnToIndex"}</a>
	#{linkToGithub project: project/}
	<hr>
	<h2 class="fontSize24">&{"overview"}</h2>
#{if lang == "ja"}
	<p>sendgrid4jはJavaで実装された<a href="http://sendgrid.com/" target="_blank">SendGrid</a>のWebAPIのラッパーです。</p>
	<p>以下の機能がサポートされています。</p>
	<ul>
		<li>メール送信(WebAPI)<br>
			<ul>
				<li>複数の添付ファイルを添付可能</li>
				<li>カテゴリの設定</li>
			</ul>
		</li>
		<li>Email Reportsの取得<br>
			<ul>
				<li>Bounces</li>
				<li>Blocks</li>
				<li>Spam reports</li>
				<li>Invalid emails</li>
				<li>Unsubscribes</li>
			</ul>
		</li>
		<li>Statisticsの取得</li>
		<li>アプリケーション設定<br>
			<ul>
				<li>AddressWhiteList</li>
				<li>Bcc</li>
				<li>その他</li>
			</ul>
		</li>
	</ul>
#{/if}
#{else}
	<p>sendgrid4j is a WebAPI wrapper for <a href="http://sendgrid.com/" target="_blank">SendGrid</a> implemented by Java.</p>
	<p>Following features are supported</p>
	<ul>
		<li>Sending mail by WebAPI<br>
			<ul>
				<li>Multiple attachements</li>
				<li>Category</li>
			</ul>
		</li>
		<li>Retrieving Email Reports<br>
			<ul>
				<li>Bounces</li>
				<li>Blocks</li>
				<li>Spam reports</li>
				<li>Invalid emails</li>
				<li>Unsubscribes</li>
			</ul>
		</li>
		<li>Retrieving Statistics</li>
		<li>Application settings<br>
			<ul>
				<li>AddressWhiteList</li>
				<li>Bcc</li>
				<li>and other applications</li>
			</ul>
		</li>
	</ul>
#{/else}
	<hr>
	<h2 class="fontSize24">&{"usage"}</h2>
#{if lang == "ja"}
    <p>それぞれのクラスはSendGridのリクエストパラメータ、またはレスポンスJSONのシンプルなラッパーです。</p>
    <p>各クラスのプロパティの詳細についてはSendGridのAPIドキュメントをご確認ください。</p>
    <p class="p10"><a href="http://sendgrid.com/docs/API_Reference/Web_API/index.html" target="_blank">http://sendgrid.com/docs/API_Reference/Web_API/index.html</a></p>
    <p class="p20">すべてのメソッドはSendGridClientから実行されます。<a href="https://github.com/shunjikonishi/sendgrid4j/blob/master/src/main/java/jp/co/flect/sendgrid/SendGridClient.java" target="_blank">SendGridClient.java</a>のソースコードを見ることでできることが何かはだいたいわかると思います。</p>
#{/if}
#{else}
    <p>Each class is a simple wrapper of WebAPI parameters or a JSON response.</p>
    <p>Please see the SendGrid WebAPI documentation for details of each property.</p>
    <p class="p10"><a href="http://sendgrid.com/docs/API_Reference/Web_API/index.html" target="_blank">http://sendgrid.com/docs/API_Reference/Web_API/index.html</a></p>
    <p class="p20">All methods are called from SendGridClient class, so you can understand what this can do by seeing <a href="https://github.com/shunjikonishi/sendgrid4j/blob/master/src/main/java/jp/co/flect/sendgrid/SendGridClient.java" target="_blank">SendGridClient.java</a>.</p>
#{/else}
	<hr>
	<h2 class="fontSize24">&{"sample"}</h2>
#{if lang == "ja"}
	<p>メール送信</p>
#{/if}
#{else}
	<p>Send mail</p>
#{/else}
	<pre>
    SendGridClient client = new SendGridClient(USERNAME, PASSWORD);
    WebMail mail = new WebMail();
    <span class="comment">//Set from and to information</span>
    mail.setFrom("test@flect.co.jp");
    mail.setTo("test@flect.co.jp");
    mail.setFromName("test");
    mail.setToName("test");
    
    <span class="comment">//Subject and text(or You can use setHtml)</span>
    mail.setSubject("Test - " + new Date());
    mail.setText("This is a test mail");
    
    <span class="comment">//Category(X-SMTPAPI option)</span>
    mail.setCategory("test");
    
    client.mail(mail);</pre>
#{if lang == "ja"}
	<p>Bounce一覧の取得</p>
#{/if}
#{else}
    <p>Get bounces</p>
#{/else}
    <pre>
    SendGridClient client = new SendGridClient(USERNAME, PASSWORD);
    
    Bounce.Get request = new Bounce.Get();
    request.setDays(7);
    List<Bounce> list = client.getBounces(request);
    for (Bounce bounce : list) {
        System.out.println(bounce.getEmail());
    }</pre>
#{if lang == "ja"}
	<p>Statisticsの取得</p>
#{/if}
#{else}
	<p>Get statistics</p>
#{/else}
	<pre>
    SendGridClient client = new SendGridClient(USERNAME, PASSWORD);
    Statistic.Get request = new Statistic.Get();
    <span class="comment">//request.setCategory("test");</span>
    request.setDays(10);
    List<Statistic> list = client.getStatistics(request);
    for (Statistic stat : list) {
        System.out.println("Statistics: " + 
            stat.getDate() + ", " +
            "Category = " + stat.getCategory() + ", " +
            "Requests = " + stat.getRequests() + ", " +
            "Bounces = " + stat.getBounces() + ", " +
            "Clicks = " + stat.getClicks() + ", " +
            "Opens = " + stat.getOpens() + ", " +
            "SpamReports = " + stat.getSpamReports() + ", " +
            "UniqueClicks = " + stat.getUniqueClicks() + ", " +
            "UniqueOpens = " + stat.getUniqueOpens() + ", " +
            "Blocked = " + stat.getBlocked() + ", " +
            "Delivered = " + stat.getDelivered() + ", " +
            "Unsubscribes = " + stat.getUnsubscribes() + ", " +
            "InvalidEmails = " + stat.getInvalidEmails() + ", " +
            "RepeatUnsubscribes = " + stat.getRepeatUnsubscribes() + ", " +
            "SpamDrops = " + stat.getSpamDrops() + ", " +
            "RepeatBounces = " + stat.getRepeatBounces() + ", " +
            "RepeatSpamReports = " + stat.getRepeatSpamReports() + ", " +
            "");
    }</pre>
	<hr>
	<h2 class="fontSize24">&{"latestRelease"}</h2>
	<p>&{"download"} - <a href="https://github.com/shunjikonishi/${filename}/archive/version-0.9.1.zip">0.9.1</a></p>
	<p>Maven</p>
	<pre style="width:800px;">#{repository artifactId: filename, version: "0.9.1"/}</pre>
	<hr>
	<h2 class="fontSize24">&{"license"}</h2>
	<p>MIT</p>
</div>
