#{extends 'main.html' /}
#{set title:'FLECT OSS Library' /}
<div class="contentDetail">
	<h1 class="fontSize36">${filename}</h1>
	<h2 class="fontSize24">&{"underConstruction"}</h2>
	<a class="detail" href="../index.html">&{"returnToIndex"}</a>
	<a class="github" href="https://github.com/shunjikonishi/${filename}"><img src="/public/images/GitHub-Mark-32px.png" alt="link to github"></a>
#{if lang == "ja"}
	<p>申し訳ありませんがこのページは現在準備中です。</p>
	<p>直接<a href="https://github.com/shunjikonishi/${filename}">GitHub</a>を参照してください。</p>
#{/if}
#{else}
	<p>Sorry, this page is under construction.</p>
	<p>Please see <a href="https://github.com/shunjikonishi/${filename}">GitHub</a> directly.</p>
#{/else}
</div>
