#{extends 'main.html' /}
#{set title:'FLECT OSS Library' /}
#{if lang == "ja"}
	#{set 'description'}FLECT OSS Libraryは<a href='http://www.flect.co.jp/'>株式会社 FLECT</a>の開発したオープンソースプロダクトをご紹介するページです。#{/set}
#{/if}
#{else}
	#{set 'description'}FLECT OSS Library is a web site for introducing our open source products.#{/set}
#{/else}
<div class="contentDetail">
	<h1 class="fontSize36">${filename}</h1>
	<h2 class="fontSize24">&{"underConstruction"}</h2>
	<a class="detail" href="../index.html">&{"returnToIndex"}</a>
	#{linkToGithub project: project/}
#{if lang == "ja"}
	<p>申し訳ありませんがこのページは現在準備中です。</p>
	<p>直接<a href="https://github.com/shunjikonishi/${filename}">GitHub</a>を参照してください。</p>
#{/if}
#{else}
	<p>Sorry, this page is under construction.</p>
	<p>Please see <a href="https://github.com/shunjikonishi/${filename}">GitHub</a> directly.</p>
#{/else}
</div>
