tmp/
*.BAK
velocity.log
lib/http*.jar
lib/solr-*.jar
lib/zookeeper-*.jar
lib/wstx-*.jar
lib/activation-*.jar
lib/aws-java-sdk-*.jar
lib/commons-*.jar
lib/jackson-*.jar
lib/mail-*.jar
lib/stax-*.jar
lib/spring-*.jar
lib/freemarker-*.jar
lib/aspectjrt-*.jar
.settings/
eclipse/
test-result/
.classpath
.project
