#{extends 'main.html' /}
#{set title:'Home' /}
<div class="contentHead">
	<h2 class="fontSize24">Overview</h2>
	<div class="fontSize16">
		<p>
			Our company <a href="http://www.flect.co.jp/index.html">FLECT</a> are developing some libraries and applications that are published in the github.
		</p>
		<p>
			This page is index of these projects.
		</p>
		<p>
			Anyone can use these libraries and applications with no warranty.
		</p>
	</div>
</div>
<div class="contentData">
	<h2 class="fontSize24">Libraries</h2>
	<div>
		<h3 class="fontSize18">sendgrid4j</h3>
		<p class="fontSize14">Simple SendGridClient for Java.</p>
		<a class="detail" href="libs/sendgrid4j.html">View detail</a>
	</div>
	<div>
		<h3 class="fontSize18">excel2canvas</h3>
		<p class="fontSize14">Java and JavaScript library to display Excel sheet on the web</p>
		<a class="detail" href="libs/excel2canvas.html">View detail</a>
	</div>
</div>
<div class="contentData">
	<h2 class="fontSize24">Applications</h2>
	<div>
		<h3 class="fontSize18">Papertrail LogAnalyzer</h3>
		<p class="fontSize14">Analyzing Heroku logs.</p>
		<a class="detail" href="apps/loganalyzer.html">View detail</a>
	</div>
</div>
