<!DOCTYPE html>
<html>
<head>
<title>#{get 'title' /}</title>
<meta charset="utf-8">
<link rel="stylesheet" media="screen" href="/public/stylesheets/style.css">
<link rel="stylesheet" media="screen" href="/public/stylesheets/osslib.css">
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/ico" href="/public/images/favicon.ico">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/public/javascripts/ext/socialbutton/jquery.socialbutton.js"></script>
<script>
$(function() {
	var url = "${request.getBase() + request.path}";
	var lang = "${lang}";
	
	$("#twitter").socialbutton("twitter", {
		"button" : "horizontal",
		"url" : url,
		"lang" : lang
	});
	$("#facebook").socialbutton("facebook_like", {
		"url" : url,
		"button" : "button_count",
		"width" : lang == "ja" ? 110 : 90,
		"locale" : lang == "ja" ? "ja_JP" : "en_US",
	});
	$("#google").socialbutton("google_plusone", {
		"lang" : lang,
		"size" : "medium"
	});
});
</script>
#{get 'moreScripts' /}
</head>
<body>
<div id="container">
<div id="header">
	<div id="logo">
		<a href="http://www.flect.co.jp/index.html"><img class="logo" src="/public/images/logo_flect.png" alt="FLECT" /></a>
	</div>
	<div id="social">
		<div id="google"></div>
		<div id="facebook"></div>
		<div id="twitter" style="width:95px;"></div>
	</div>
	<div id="languages">
		<ul class="fontSize16">
			<li><a href="/lang/en">&{"english"}</a></li>
			<li><a href="/lang/ja">&{"japanese"}</a></li>
		</ul>
	</div>
</div>
<div id="contentWrap" class="boxShadow">
<div id="content">
#{doLayout /}
</div>
<div>
<div id="footer" class="boxShadow">
<div class="copyright fontSize9 clearFix">COPYRIGHT FLECT CO.,LTD. ALL RIGHTS RESERVED</div>
</div>
</div>
</body>
</html>
