<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="${lang}">
<title>#{get 'title' /}</title>

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@flect_jp">
<meta name="twitter:creator" content="@flect_jp">
<meta property="og:url" content="${request.getBase() + request.url}">
<meta property="og:type" content="website">
<meta property="og:title" content="#{get 'title' /}">
<meta property="og:description" content="#{get 'description' /}">
<meta property="og:image" content="${request.getBase() + "/public/images/logo_flect.png"}">
#{if lang == "ja"}
<meta property="og:locale" content="ja_JP" />
<meta property="og:locale:alternate" content="en_US" />
#{/if}
#{else}
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="ja_JP" />
#{/else}

<link rel="stylesheet" media="screen" href="/public/stylesheets/style.css">
<link rel="stylesheet" media="screen" href="/public/stylesheets/osslib.css">
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/ico" href="/public/images/favicon.ico">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/public/javascripts/ext/socialbutton/jquery.socialbutton.js"></script>
<script>
$(function() {
	var base = "${request.getBase()}/";
	var url = "${request.getBase() + request.path}";
	var lang = "${lang}";
	
	$("#twitter").socialbutton("twitter", {
		"button" : "horizontal",
		"url" : base,
		"lang" : lang
	});
	$("#facebook").socialbutton("facebook_like", {
		"url" : url,
		"button" : "button_count",
		"width" : lang == "ja" ? 110 : 90,
		"locale" : lang == "ja" ? "ja_JP" : "en_US",
		"appId" : "379834662133691"
	});
	$("#google").socialbutton("google_plusone", {
		"lang" : lang,
		"size" : "medium"
	});
});
</script>
#{get 'moreScripts' /}
</head>
<body>
<div id="container">
<div id="header">
	<div id="logo">
		<a href="http://www.flect.co.jp/index.html"><img class="logo" src="/public/images/logo_flect.png" alt="FLECT" /></a>
	</div>
	<div id="social">
		<div id="google"></div>
		<div id="facebook"></div>
		<div id="twitter" style="width:95px;"></div>
	</div>
#{if project == null || project.hasEnglish}
	<div id="languages">
		<ul class="fontSize16">
			<li><a href="${request.path.replace("/ja/", "/en/")}">English</a></li>
			<li><a href="${request.path.replace("/en/", "/ja/")}">日本語</a></li>
		</ul>
	</div>
#{/if}
</div>
<div id="contentWrap" class="boxShadow">
<div id="content">
#{doLayout /}
</div>
<div>
<div id="footer" class="boxShadow">
<div class="copyright fontSize9 clearFix">COPYRIGHT FLECT CO.,LTD. ALL RIGHTS RESERVED</div>
</div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36190277-2', 'flect.co.jp');
  ga('send', 'pageview');

</script>
</body>
</html>
